{% extends layout ?: "@PayumCore/layout.html.twig" %}

{% block payum_body %}
    {{ parent() }}
    <form id = "payum_makecommerce" action = "{{ url }}" method = "post">
        <input type = "hidden" name = "payment_token" id = "payment_token" />
    </form>

    {% if sandbox %}
        <script src = "https://payment.test.maksekeskus.ee/checkout/dist/checkout.js"></script>
    {% else %}
        <script src = "https://payment.maksekeskus.ee/checkout/dist/checkout.js"></script>
    {% endif %}
    <script>
      window.cc_callback = function (data) {
        if (data && data.paymentToken) {
          document.getElementById('payment_token').value = data.paymentToken
          document.getElementById('payum_makecommerce').submit()
        } else {
          window.location = '{{ url }}'
        }

      }
      window.Maksekeskus.Checkout.initialize({
          'key': '{{ key }}',
          'transaction': '{{ transaction }}',
          'amount': '{{ amount }}',
          'currency': '{{ currency }}',
          'email': '{{ email }}',
          'locale': 'en',
          'description': '{{ description }}',
          'completed': 'cc_callback',
          'cancelled': 'cc_callback'
        }
      )
      window.onload = function () {
        window.Maksekeskus.Checkout.open()
      }
    </script>
{% endblock %}
